:root {
  --color-shadow-grey: #1f232a;
  --color-bright-snow: #f5f5f5;
  --color-blue-slate: #4e596f;
  --color-charcoal-blue: #3d444d;
  --color-powder-blue: #A9B5C2;
}

.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.true {
  background-color: var(--color-bright-snow);
}

.false {
  background-color: var(--color-shadow-grey);
}

.true .toggle {
  color: var(--color-bright-snow);
  justify-content: flex-end;
  background-color: var(--color-shadow-grey);
}

.false .toggle {
  color: var(--color-shadow-grey);
  justify-content: flex-start;
  background-color: var(--color-bright-snow);
}

.toggle {
  display: flex;
  flex-direction: row;
  width: 6rem;
  padding: 0.75rem;
  border-radius: 5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}